<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="style/home.css")
body
	h1 这个是我的第一个jade模板引擎
	h2 下面是一个列表
	ul
		-for(var i = 0;i<nav.length;i++)
			li
				a(href=nav[i]["url"])=nav[i]["title"]

	script(src="script/home.js")

